body {
  background-color: #444; /* Darker background color */
  font-family: Arial, sans-serif; /* Classic font */
  color: #eee; /* Main text color */
  position: relative;
}

/* Headers */
h1, h2, h3, h4, h5, h6 {
  color: #eee; /* Lighter header text color */
  margin-bottom: 10px;
}

/* Container styles */
.matches-container,
.news-container,
.teams-container,
.table-container,
.fixtures-container {
  background-color: #666; /* Darker background for containers */
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px; /* Add some space between containers */
}

/* Headings */
.matches-heading,
.news-heading,
.teams-heading,
.table-heading,
.fixtures-heading {
  font-size: 24px;
  color: #eb8806; /* Highlighted header text color */
  margin-bottom: 20px;
}

/* Card styles */
.match-card,
.news-card,
.fixture-card {
  background-color: #777; /* Darker background for cards */
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px; /* Add some space between cards */
}

/* Team details */
.teams {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.team-name {
  font-weight: bold;
  color: #2b0fcc; /* Highlighted team name color */
}

.vs {
  font-weight: bold;
  font-size: 18px;
  margin: 0 10px;
}

/* Fixture details */
.fixture-details {
  display: flex;
  flex-direction: row;
}

.date {
  color: #eb8806; /* Highlighted date color */
}

.venue {
  color: #2b0fcc; /* Highlighted venue color */
  font-weight: bold;
}

/* Table styles */
.premier-league-table,
.teams-table {
  width: 100%;
  border-collapse: collapse;
}

.premier-league-table th,
.premier-league-table td,
.teams-table th,
.teams-table td {
  border: 1px solid #ccc;
  padding: 10px;
  text-align: left;
}

/* Even row style */
.even-row {
  background-color: #555; /* Alternate row background color */
}

/* Hover effect for odd rows */
.odd-row:hover {
  background-color: #777; /* Hover background color */
}
