/* Styling for the header */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #444; /* Dark background color */
  color: white;
}

/* Styling for the website name */
.website-name {
  font-size: 3rem;
  font-family: 'Lemon Jelly', cursive; /* Lemon Jelly font */
  text-transform: uppercase;
  letter-spacing: 3px;
  color: #c2e71d; /* Light green color */
  width: 30%; /* Cover 30% of the width */
  overflow: hidden; /* Hide overflow */
  white-space: nowrap; /* Prevent line breaks */
  animation: emergeAnimation 1s forwards; /* Animation to emerge from the right side */
}

/* Animation for the website name */
@keyframes emergeAnimation {
  from {
    transform: translateX(100%); /* Start off the screen on the right */
  }
  to {
    transform: translateX(0%); /* Move to the left end */
  }
}

/* Styling for the menu */
.menu {
  display: flex;
  justify-content: space-around;
  background-color: #444;
  padding: 10px;
}

/* Styling for menu items */
.menu-item {
  text-decoration: none;
  color: white;
  padding: 5px 10px;
  background-color: #666; /* Darker background for menu items */
  border-radius: 20px; /* Rounded corners */
  font-family: 'Arial Black', sans-serif; /* Fancy font */
  transition: background-color 0.3s, color 0.3s; /* Smooth transition effect */
}

.menu-item:hover {
  background-color: #eb8806; /* Orange background on hover */
  color: #444; /* Darker text color on hover */
}

/* Styling for the body */
.body {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5px;
  height: auto;
  text-align: center;
}

/* Styling for the advertisement */
.advert {
  height: 20vh;
  background-color: #d7ddd7; /* Warm background color */
  margin-bottom: 10px;
  padding-top: 0.5%;
}

/* Styling for the main content */
.main-content {
  background-color: #bba2a2; /* Default background color */
  padding: 10px;
  transition: background-color 0.5s; /* Transition for background color change */
  text-align: center;
  justify-content: space-around;
  align-items: center;
}

/* Styling for the footer */
footer {
  background-color: #1f74ad;
  color: white;
  padding-top: 1px;
  margin-top: 1px;
  text-align: center;
  position: relative;
  bottom: 0;
  width: 100%;
  height: 3vh;
}

.blank {
  height: 5vh; /* Set the height to 5% of the viewport height */
  background-color: #4b0404; /* Cool background color */
  position: relative; /* Add relative positioning */
  overflow: hidden; /* Hide overflow */
  padding-bottom: 3.5%;
}

.filter {
  height: 5vh; /* Set the height to 5% of the viewport height */
  background-color: #87ceeb; /* Cool background color */
  padding: 5px;
}

/* Animation for footballs and Scorehub */
.football-left {
  display: block;
  width: 50px; /* Adjust size as needed */
  height: 50px; /* Adjust size as needed */
  background: url('../public/images/football.png') center/cover;
  border-radius: 50%;
  /* Animation to spin and move the football */
  animation: spin 2000ms linear infinite, moveLeftToRight 30s linear infinite;
  position: absolute;
  left: -50px; /* Start position from the left side */
}

/* Spinning the football using key frames */
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Move football from left to right */
@keyframes moveLeftToRight {
  0% {
    left: -50px;
  } /* Start position from the left side */
  100% {
    left: calc(100% + 50px);
  } /* End position beyond the right side */
}

.advert-container {
  display: flex;
  justify-content: space-between;
  height: 20vh;
}

.advert-container img {
  width: 25%; /* Adjust the width as needed */
  height: 20vh; /* Maintain aspect ratio */
  padding: 0%;
}

/* Add this to the end of your CSS file */
.animation-container {
  position: relative;
}

.updates-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  white-space: nowrap;
  overflow: hidden;
}
